<template>
  <div class="about">
    <conjugacion/>
  </div>
</template>
<script>
import Conjugacion from '../components/Conjugacion'

export default {
    name: 'ConjugadorView',
    components: {
      Conjugacion,
    },
}
</script>