<template>
 <div>
   <diccionario/> 
  </div>
</template>
<script>
import Diccionario from '../components/Diccionario'
export default {
    name: 'DiccionaryView',
    components: {
      Diccionario,
    },
}
</script>