<template>
  <!-- <v-carousel>
    <v-carousel-item
      cycle
      v-for="(item,i) in items"
      :key="i"
      :src="item.src"
      reverse-transition="fade-transition"
      transition="fade-transition"
      
    ></v-carousel-item>
    
  </v-carousel> -->
  <v-container>
    <v-row>
      <v-col cols="2"></v-col>
      <v-col cols="10">
        <div class="d-flex justify-center align-center mb-6">
          <div  class="align-center mb-6">
            <img src="../assets/mountain.png" class="d-flex flex-wrap " />
            <img src="../assets/logo2.png" class="d-flex flex-wrap" id="logo"/>
          </div>
          
        </div>
      </v-col>
      <!-- <v-col cols="2"></v-col> -->
    </v-row>
  </v-container>
</template>

<script>
import { getAll }from '../database.js'
import WordStore from '../store/index'

export default {
  name: "HomeView",
  data() {
    return {
     
    };
  },
  created() {
    this.getList()
  },
  methods: {
    async getList(){
      let list= await getAll()
      // this.wordList= list
      WordStore.methods.addnewdata(list)
      console.log(WordStore.data.word)


    },
  },
};
</script>
<style>
#logo{
  /* transform: translate(10px, 10px); */
}
</style>