<template>
  <v-container>
    <v-row >
      <v-col cols="2"></v-col>

      <v-col  cols="8">
         <h3>Sufijos</h3>
         <sufijo/>
         
      </v-col>

      <v-col cols="2"></v-col>
    </v-row>
  </v-container>
</template>
<script>
import Sufijo from '../components/Sufijo'

export default {
  name: "SufijosView",
  components: {
      Sufijo,
     
    },

    data() {
    return {
     
    };
  },
};
</script>
