<template>
  <v-app>  
    <menulateral/>
    <v-main>
      <router-view/>
    </v-main>
  </v-app>
</template>

<script>
import Menulateral from './components/Menulateral.vue';

export default {
  
  components:{
    Menulateral
    
  },
  name: 'App',

  data: () => ({
    //
  }),
};
</script>
