<template>
  <v-card class="mx-auto" max-width="500">
    <v-card-text>
      <div>Conjugador de Verbos</div>
      <v-form ref="form" v-model="valid" lazy-validation>
        <v-text-field
          v-model="verbo"
          :counter="10"
          :rules="verbRules"
          label="Escriba un verbo en infinitivo"
          required
        ></v-text-field>

        <v-select
          v-model="selectPron"
          :items="pronombres"
          item-text="text"
          item-value="value"
          :rules="[(v) => !!v || 'Item is required']"
          label="Elija un pronombre personal"
          required
        ></v-select>

        <v-select
          v-model="selectVerb"
          :items="tiempo"
          item-text="text"
          item-value="value"
          :rules="[(v) => !!v || 'Item is required']"
          label="Elija el tiempo verbal"
          required
        ></v-select>

        <v-btn
          :disabled="!valid"
          color="success"
          class="mr-4"
          @click="conjugar"
        >
          Conjugar!
        </v-btn>
      </v-form>
      <p class="text-h4 text--primary">{{ quechua }}</p>
      <!-- <p>adjective</p> -->
      <div class="text--primary">
        {{ espanol }}
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
export default {
  name: "ConjugComponent",
  data: () => ({
    valid: true,
    verbo: "",
    verbRules: [
      (v) => !!v || "EL verbo es requerido",
      (v) => (v && v.length <= 10) || "Name must be less than 10 characters",
    ],
    email: "",
    emailRules: [
      (v) => !!v || "E-mail is required",
      (v) => /.+@.+\..+/.test(v) || "E-mail must be valid",
    ],
    selectPron: null,
    selectVerb: null,
    pronombres: [
      {
        text: "yo",
        value: "noqa",
      },
      {
        text: "tu",
        value: "qan",
      },
      {
        text: "él, ella",
        value: "pay",
      },
      {
        text: "nosotros (inclusivo)",
        value: "noqanchej",
      },
      {
        text: "nosotros (exclusivo)",
        value: "noqayku",
      },
      {
        text: "ustedes",
        value: "qankuna",
      },
      {
        text: "ellos",
        value: "paykuna",
      },
    ],

    tiempo: [
      {
        text: "Presente",
        value: " ",
      },
      {
        text: "Pretérito Perfecto",
        value: "rqa",
      },
      {
        text: "Pretérito Pluscuamperfecto",
        value: "sqa",
      },
      {
        text: "Pretérito Imperfecto",
        value: "j ka",
      },
      {
        text: "Futuro",
        value: "nqa",
      },
      {
        text: "Modo Potencial",
        value: "noqayku",
      },
      {
        text: "Obligativo presente",
        value: "qankuna",
      },
      {
        text: "Obligativo Pasado",
        value: "paykuna",
      },
      {
        text: "Obligativo Futuro",
        value: "paykuna",
      },
      {
        text: "Modo Potencial",
        value: "paykuna",
      },
    ],
    descin: [
      {
        value: "noqa",
        conj: "ni",
      },
      {
        value: "qan",
        conj: "nki",
      },
      {
        value: "pay",
        conj: " ",
      },
      {
        value: "noqanchej",
        conj: "nchej",
      },
      {
        value: "noqayku",
        conj: "yku",
      },
      {
        value: "qankuna",
        conj: "nkichej",
      },
      {
        value: "paykuna",
        conj: "nku",
      },
    ],
    checkbox: false,
    quechua: "",
    espanol: "",
    sufijo: "",
  }),

  methods: {
    validate() {
      this.$refs.form.validate();
    },
    reset() {
      this.$refs.form.reset();
    },
    resetValidation() {
      this.$refs.form.resetValidation();
    },
    conjugar() {
      for (let i = 0; i < this.descin.length; i++) {
        if (this.descin[i].value == this.selectPron) {
          this.sufijo = this.descin[i].conj;
        }
      }

      let raiz = this.verbo.substring(0, this.verbo.length - 1);
      console.log(raiz);
      this.quechua =this.selectPron + " " + raiz + this.selectVerb + this.sufijo;
      if(this.selectPron == "pay"){
        this.quechua.substring(0, this.quechua.length - 1);
      }
    },
  },
};
</script>
