<template>
  <v-card class="mx-auto" max-width="500">
    <v-card-text>
      <div>Diccionario Quechua Bolivia</div>
      <form>
        <v-text-field
          v-model="word"
          :error-messages="nameErrors"
          label="Escriba aqui"
          @keydown.13="buscar(word)"
        ></v-text-field>

        <v-btn class="mr-4" @click="buscar(word)"> Traducir </v-btn>
      </form>
      <p class="text-h4 text--primary">{{ quechua }}</p>
      <!-- <p>adjective</p> -->
      <div class="text--primary">
        {{ espanol }}
      </div>
      <div class="text--primary">
        {{ ingles }}
      </div>
      <div v-if="errorMessage">
        <p>Lo siento , no existe esta palabra</p>
      </div>
    </v-card-text>
  </v-card>
</template>
<script>
// import { getAll }from '../database.js'
import WordStore from "../store/index";

export default {
  name: "DiccComponent",

  components: {},
  data() {
    return {
      word: "",
      translate: null,
      quechua: null,
      espanol: null,
      ingles: null,
      wordList: null,
      errorMessage: false,
    };
  },
  created() {
    // this.getList()
  },
  methods: {
    buscar(word) {
      console.log(word);
      let list = WordStore.data.word;

      for (let element of list) {
        for (let i = 0; i < 519; i++) {
          let quechua = element[i].Quechua;
          if (quechua == word) {
            this.espanol = element[i].Español;
            this.quechua = element[i].Quechua;
            this.ingles = element[i].English;
            console.log(element[i].Español);
            this.errorMessage = false;
          }
        }
      }
      if (this.quechua == null) {
        this.errorMessage = true;
      }
      let filteredJson = this.filterByWord(word);
      console.log(filteredJson);
    },
    
       filterByWord(word) {
        let json = WordStore.data.word
        return json.filter(function (item) {
          return item.Español.includes(word);
        });
      },
   
    // async getList(){
    //   let list= await getAll()
    //   // this.wordList= list
    //   WordStore.methods.addnewdata(list)
    //   console.log(WordStore.data.word)

    // },
    newWord() {
      // this.espanol = null
    },
  },
};
</script>
