<template>
 
    <v-navigation-drawer
      absolute
      permanent
      left
    >
      <template v-slot:prepend>
        <v-list-item two-line>
          <v-list-item-avatar>
            <img src="../assets/yachakuy.jpg" >
          </v-list-item-avatar>

          
        </v-list-item>
      </template>

      <v-divider></v-divider>

      <v-list dense>
      <v-list-item-content>
            <v-icon>mdi-home</v-icon><router-link to="/" id="link">Inicio</router-link>
            <v-icon></v-icon><router-link to="/diccionario" id="link">Diccionario</router-link>
            <v-icon></v-icon><router-link to="/conjugador" id="link">Conjugador de Verbos</router-link>
            <v-icon></v-icon><router-link to="/sufijos" id="link">Sufijos</router-link>
            <v-icon></v-icon><router-link to="/traductor" id="link">Traductor</router-link>
            <v-icon></v-icon><router-link to="/gramatica" id="link">Gramática</router-link>
            <v-icon></v-icon><router-link to="/palabra" id="link">Palabra del día</router-link>
          
          
          </v-list-item-content>
      </v-list>
    </v-navigation-drawer>

</template>
<script>
  export default {
    name: 'MenuLateral',
    data () {
      return {
        items: [
          { title: 'Home', icon: 'mdi-home-city' , path:"/"},
          { title: 'Diccionario', icon: 'mdi-account' , path:"/Diccionary"},
          { title: 'Traductor', icon: 'mdi-account-group-outline', path:"/Traductor" },
          { title: 'Sufijos', icon: 'mdi-account-group-outline', path:"/Sufijos" },
          { title: 'Conjugador de Verbos', icon: 'mdi-account-group-outline', path:"/Conjugador" },
         
        ],
      }
    },
  }
</script>