<template>
  <v-container>
    <v-row>
      <v-dialog
        transition="dialog-bottom-transition"
        max-width="600"
        v-model="dialog"
      >
        <template v-slot:activator="{ on, attrs }">
          <v-col
            v-for="card in cards"
            :key="card.id"
            :cols="card.flex"
            v-bind="attrs"
            v-on="on"
          >
            <v-card
              class="mx-auto"
              width="250"
              @click.stop="dialog = true"
              @click="getId(card)"
              color="#26c6da"
            >
              <v-card-title v-text="card.name" class="d-flex justify-center mb-6"></v-card-title>

              <v-card-actions class="d-flex justify-center mb-6">
                <!-- <v-spacer></v-spacer> -->
                <h4 >{{ card.value }}</h4>
              </v-card-actions>
            </v-card>
          </v-col>
          <!-- <modal  :name="card" :visible="dialog"/> -->
        </template>
        <template v-slot:default="dialog">
          <v-card>
            <v-toolbar color="primary" dark>{{ id.name }}</v-toolbar>
            <v-card-title class="text-h5"></v-card-title>
            <v-card-text>
              <p class="font-weight-medium">{{ id.descr }}</p>
              <p class="font-weight-bold">{{ id.qu1 }}</p>
              <p class="font-italic">{{ id.esp1 }}</p>
              <p class="font-weight-bold">{{ id.qu2 }}</p>
              <p class="font-italic">{{ id.esp2 }}</p>
            </v-card-text>
            <v-card-actions class="justify-end">
              <v-btn text @click="dialog.value = false">Cerrar</v-btn>
            </v-card-actions>
          </v-card>
        </template>
      </v-dialog>
    </v-row>
  </v-container>
</template>
<script>
import sufijos from "../sufijos.js";


export default {
  name: "SufijoComponent",
  components: {
    
  },
  data() {
    return {
      cards: sufijos,
      dialog: false,
      id: null,
    };
  },
  methods: {
    getId(id) {
      this.id = id;
    },
  },
};
</script>
