<template>
  <v-card class="mx-auto" max-width="344">
    <v-card-text>
      <div>Palabra del Día</div>
      <p class="text-h4 text--primary">{{quechua}}</p>
      
      <div class="text--primary">
        {{espanol}}
      </div>
    </v-card-text>
    <v-card-actions>
      <v-btn text color="deep-purple accent-4" @click="buscar()"> Aprende otra!</v-btn>
    </v-card-actions>
  </v-card>
</template>
<script>
import WordStore from "../store/index";
export default {
  name: "WordComponent",
  data() {
    return {
      word: "",
      translate: null,
      quechua: null,
      espanol: null,
      ingles: null,
      wordList: null,
     
    };
  },
  created() {
    this.buscar();
  },
  methods: {
    buscar() {
      
      console.log(x)
      let list = WordStore.data.word;
      
      
      
      for (let element of list) {
      //   for (let i = 0; i < 519; i++) {
      //     
          
      //   }
        var x = Math.floor(Math.random()*520);
        this.quechua = element[x].Quechua
        this.espanol = element[x].Español
        console.log(this.quechua)
        console.log(this.espanol)
      }
      
    },
  },
};
</script>
